.container {
  height: 50px;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 40px;
  background-color: var(--button);
  padding: 10px;
  margin-bottom: 30px;
  position: absolute;
  top: 9%;
  left: 50%;
  transform: translateX(-50%);
}
.text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: var(--white);
}
